.flexbox-container {
    background-color: #b1b5be;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox-item {
    color: white;
    width: 250px;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.header {
    display: flex;
    background-color: #9c1b63;
    font-size: 24px;
}
.article-box {
    display: flex;
    justify-content: space-around;
    background-color: #27b379;
    height: 275px;
    flex-direction: column; 
}
.article {
    display: flex;
    width: 225px;
    height: 75px;
    font-size: 18px;
    background-color: #e4195b;
}
.aside {
    display: flex;
    background-color: #116395;
    font-size: 24px;
}
.footer {
    display: flex;
    background-color: #e06b26;
    font-size: 24px;    
}

@media (min-width: 1025px) {
    .flexbox-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .header {
        width: 91%;
        height: 10%;
        font-size: 30px;
        order: 0;
        
    }
    .article-box {
        width: 65%;
        height: 60%;
        order: 2;
    }
    .article {
        width: 90%;
        height: 20%;
        font-size: 26px;
    }
    .aside {
        width: 25%;
        height: 60%;
        font-size: 30px;
        order: 1;
    }
    .footer {
        order: 3;
        width: 91%;
        font-size: 30px;
        height: 10%;
    }
}